<html>
<head>
    <title>Contact Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Courier New;
            background-color: white;
        }

        .header {
            display: flex;
            align-items: center;
            background-color: white;
            padding: 10px;
            border-radius: 20px;
        }

        .background-image {
            background-color: white;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
            filter: blur(8px);
        }

        .hBanner {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            background-color: white;
            margin-bottom: 50px;
        }

            .hBanner h2 {
                color: black;
                border-bottom: 1.5px solid black;
                width: 50vw;
                text-align: center;
                font-family: 'Exo', sans-serif;
            }

        .phrase {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 30px;
            padding-bottom: 50px;
            padding-top: 50px;
            line-height: 0;
            height: auto;
            align-items: center;
        }

            .phrase h1 {
                font-size: 60px;
                color: #0d0d0d;
                text-align: center;
                font-family: 'Exo', sans-serif;
            }

        .hContent {
            height: auto;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 2;
            background-color: white;
            font-family: 'Exo', sans-serif;
        }

            .hContent img {
                font-size: 16px;
            }

        .hBox {
            width: 70%;
            margin: 5px;
        }

        .footer {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #333333;
            height: auto;
            padding: 20px;
        }

            .footer img {
                width: 150px;
                height: auto;
                border-radius: 10px;
            }

        .navcont {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }

            .navcont a {
                display: block;
                margin-bottom: 10px;
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-family: 'Exo', sans-serif;
                transition: background-color 0.3s;
            }

                .navcont a:hover {
                    background-color: #e3f6f5;
                }

        .search-container {
            display: flex;
            align-items: center;
        }

        input[type=text] {
            padding: 7px;
            margin-top: 8px;
            font-size: 14px;
            border: 1px solid black;
            border-radius: 5px;
            width: 25%;
        }

        button[type=submit] {
            background-color: green;
            color: white;
            padding: 10px 20px;
            margin-top: 8px;
            margin-left: 5px;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }

            button[type=submit]:hover {
                background-color: limegreen;
            }

        .slideshow-container {
            position: relative;
            max-width: 100%;
            margin: auto;
        }

        .mySlides {
            display: none;
        }

        .slideshow-container img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }

    </style>
</head>

<body>
    <center>
        <div class="row slideshow-container">
            <div class="mySlides">
                <img src="~/images/vass - pottery 1.jpg" />
                <div class="description-box"></div>
            </div>
            <div class="mySlides">
                <img src="~/images/in the making - pottery 2.jpg" />
                <div class="description-box"></div>
            </div>
            <div class="mySlides">
                <img src="~/images/designs - pottery 3.jpg" />
                <div class="description-box"></div>
            </div>
            <div class="mySlides">
                <img src="~/images/ceramics - pottery 4.jpg" />
                <div class="description-box"></div>
            </div>
        </div>

        <script>
            var slideIndex = 0;
            showSlides();

            function showSlides() {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) {
                    slideIndex = 1
                }
                slides[slideIndex - 1].style.display = "block";
                setTimeout(showSlides, 3000);
            }
        </script>
    </center>

    <div class="hBanner">
        <h2>GET IN TOUCH</h2>
    </div>

    <div class="hContent">
        <div class="hBox">
            <p>
                <b>
                    <p style="margin-bottom: 10px;">Jacob: Manager</p>
                    <p style="margin-bottom: 10px;">Cell Number: 021 6677 134</p>
                    <p style="margin-bottom: 10px;">Email: <a href="mailto:JacobKhumalo@gamil.com">JacobKhumalo@gamil.com</a></p>
                    <p style="margin-bottom: 10px;">Thomas: Assistant Manager</p>
                    <p style="margin-bottom: 10px;">Cell Number: 821 9546 223</p>
                    <p style="margin-bottom: 10px;">Email: <a href="mailto:ThomasKhumalo@gamil.com">ThomasKhumalo@gamil.com</a></p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3464.8182092571965!2d31.08337767523711!3d-29.725024716537206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ef70f76abeea18d%3A0x2be1b6083408b772!2sRadisson%20Blu%20Hotel%2C%20Durban%20Umhlanga!5e0!3m2!1sen!2sza!4v1711115348182!5m2!1sen!2sza" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </b>
            </p>
        </div>
    </div>

    <div class="hContent">
        <div class="hBox">
            <form action="/action_page.php">
                <p style="margin-bottom: 10px;"><b><u>Please fill in your details below:</u></b></p>
                <label for="fname"><b><u>First Name:</u></b></label><br>
                <input type="text" id="fname" name="fname" value=""><br>
                <label for="lname"><b><u>Last Name:</u></b></label><br>
                <input type="text" id="lname" name="lname" value=""><br>
                <label for="email"><b><u>Your Email:</u></b></label><br>
                <input type="text" id="email" name="email" value=""><br>
                <label for="cell"><b><u>Cell Number:</u></b></label><br>
                <input type="text" id="cell" name="cell" value=""><br><br>
                <button type="submit">Confirm Details</button>
            </form>
        </div>
    </div>

    <div class="hBanner">
        <h2>FOLLOW US ON OUR SOCIALS</h2>
    </div>

    <div class="hContent">
        <div class="hBox">
            <p>
                <b>
                    <div>
                        <img src="~/images/twitter - icon3.jpg" width="25" height="25" />
                        <span style="vertical-align: middle;">Twitter: KhumaloCraftsemporium</span>
                    </div>
                    <div>
                        <img src="~/images/instagram - icon2.jpg" width="25" height="25" />
                        <span style="vertical-align: middle;">Instagram: KhumaloCraftemporium</span>
                    </div>
                    <div>
                        <img src="~/images/facebook - icon1.jpg" width="25" height="25" />
                        <span style="vertical-align: middle;">Facebook: KhumaloCraftemporium</span>
                    </div>
                    <div>
                        <img src="~/images/youtube - icon5.jpg" width="25" height="25" />
                        <span style="vertical-align: middle;">YouTube: KhumaloCraftemporium</span>
                    </div>
                    <div>
                        <img src="~/images/tiktok - icon4.jpg" width="25" height="25" />
                        <span style="vertical-align: middle;">TikTok: KhumaloCraftemporium</span>
                    </div>
                </b>
            </p>
        </div>
    </div>


    <div class="footer">
        <footer>
            <img src="~/images/khumalocraft - logo.png" alt="" />
            <h2>KhumaloCraft Emporium</h2>
            <p style="color: #f2f2f2">James Khumalo</p>
            <p style="color: #f2f2f2">Cell: 021 3475 605</p>
            <p style="color: #f2f2f2">Email: JamesCrafts@gmail.com</p>
            <p style="color: #f2f2f2">Store Address: Radisson Blu Hotel, Durban Umhlanga Rocks, 4320</p>
            <p style="color:#f2f2f2">copyright &copy;2024.All rights reserved</p>
            <p style="color: black">Designed by Luqmaan Aziz </p>
        </footer>
    </div>

</body>

</html>
<!----------------------END OF FILE----------------------------->
