<html>
<head>
    <title>My Work</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Courier New;
            background-color: white;
        }

        .header {
            display: flex;
            align-items: center;
            background-color: white;
            padding: 10px;
            border-radius: 20px;
        }

        .background-image {
            background-color: white;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            width: 100%;
            filter: blur(8px);
        }

        .hBanner {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            background-color: white;
            margin-bottom: 50px;
        }

            .hBanner h2 {
                color: black;
                border-bottom: 1.5px solid black;
                width: 50vw;
                text-align: center;
                font-family: 'Exo', sans-serif;
            }

        .phrase {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 30px;
            padding-bottom: 50px;
            padding-top: 50px;
            line-height: 0;
            height: auto;
            align-items: center;
        }

            .phrase h1 {
                font-size: 60px;
                color: #0d0d0d;
                text-align: center;
                font-family: 'Exo', sans-serif;
            }

        .hContent {
            height: auto;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            line-height: 2;
            background-color: white;
            font-family: 'Exo', sans-serif;
        }

            .hContent img {
                font-size: 16px;
            }

        .hBox {
            width: 70%;
            margin: 5px;
        }

        .footer {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #333333;
            height: auto;
            padding: 20px;
        }

            .footer img {
                width: 150px;
                height: auto;
                border-radius: 10px;
            }

        .navcont {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }

            .navcont a {
                display: block;
                margin-bottom: 10px;
                text-decoration: none;
                color: black;
                font-weight: bold;
                font-family: 'Exo', sans-serif;
                transition: background-color 0.3s;
            }

                .navcont a:hover {
                    background-color: #e3f6f5;
                }

        .search-container {
            display: flex;
            align-items: center;
        }

        input[type=text] {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        select {
            padding: 6px;
            margin-top: 8px;
            font-size: 17px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button[type=submit] {
            background-color: green;
            color: white;
            padding: 10px 20px;
            margin-top: 8px;
            margin-left: 5px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            width: auto;
            display: inline-block;
        }

            button[type=submit]:hover {
                background-color: lawngreen;
            }

        .slideshow-container {
            position: relative;
            max-width: 100%;
            margin: auto;
        }

        .mySlides {
            display: none;
        }

        .slideshow-container img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }

        div.scroll-container {
            background-color: grey;
            overflow: auto;
            white-space: nowrap;
            padding: 10px;
        }

            div.scroll-container img {
                padding: 10px;
            }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }

    </style>
</head>

<body>
    <div class="hContent">
        <form asp-controller="Home" asp-action="" method="post">
            <div class="hBanner">
                <h2>Product Table:</h2>
            </div>

            <p>Enter new Products in the Textboxes below:</p>
            <select name="Product Name" required>
                <!--Added a drop down for Product Name-->
                <option value="">Select Product Name</option>
                <option value="">Beading R150</option>
                <option value="">Clothing R120</option>
                <option value="">Woven Baskets R50</option>
            </select>

            <select name="Quantity" required>
                <!--Added a drop down for Quantity for Products-->
                <option value="">Select Quantity</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
            </select>

            <select name="Category" required>
                <!--Added a drop down for Category-->
                <option value="">Select Category</option>
                <option value="">Clothing</option>
                <option value="">Baskets</option>
                <option value="">Beadings</option>
                <option value="">Masks</option>
            </select>

            <select name="Availability" required>
                <!--Added a drop down for Availability-->
                <option value="">Select Availability</option>
                <option value="">In Stock</option>
                <option value="">Out of Stock</option>
            </select>
            <button type="submit">Order</button>
        </form>
    </div>

    <div class="scroll-container">
        <img src="~/images/traditional beading.jpg" width="500" height="400" />
        <img src="~/images/traditional wear.jpg" width="500" height="400" />
        <img src="~/images/woven baskets.jpg" width="500" height="400" />
    </div>

    <div class="phrase">
        <h1>WELCOME TO OUR TEAM</h1>
    </div>

    <div class="hBanner">
        <h2>Our Leaders</h2>
    </div>

    <div class="hContent">
        <div class="hBox">
            <p>
                <b>
                    <img src="~/images/assistant - khumalocraft.png" />
                    <div class="description-box"><b>Thomas our Assistant Manager,he performs related duties for the company.</b></div>
                    <img src="~/images/jacob khumalo - manager.png" />
                    <div class="description-box"><b>Jacob our manager,he manages the resources needed for the company.</b></div>
                    <img src="~/images/accountant.jpg" />
                    <div class="description-box"><b>Issy our Accountant,who's in charge of banking assets.</b></div>
                </b>
            </p>
        </div>
    </div>
    <div class="footer">
        <footer>
            <img src="~/images/khumalocraft - logo.png" alt="" />
            <h2>KhumaloCraft Emporium</h2>
            <p style="color: #f2f2f2">James Khumalo</p>
            <p style="color: #f2f2f2">Cell: 021 3475 605</p>
            <p style="color: #f2f2f2">Email: JamesCrafts@gmail.com</p>
            <p style="color: #f2f2f2">Store Address: Radisson Blu Hotel, Durban Umhlanga Rocks, 4320</p>
            <p style="color:#f2f2f2">copyright &copy;2024.All rights reserved</p>
            <p style="color: black">Designed by Luqmaan Aziz </p>
        </footer>
    </div>

</body>
</html>

